<div class="row">
    <div class="col-md-6">
        <form [formGroup]="userForm">
            <div class="mb-3">
                <label for="name" class="form-label">Név</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Lakcím</label>
                <input type="text" class="form-control" id="address" formControlName="address">
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Nem</label>
                <input type="text" class="form-control" id="gender" formControlName="gender">
            </div>
            <div class="mb-3">
                <label for="nationality" class="form-label">Állampolgárság</label>
                <input type="text" class="form-control" id="nationality" formControlName="nationality">
            </div>
            <div class="mb-3">
                <label for="birthplace" class="form-label">Születési Hely</label>
                <input type="text" class="form-control" id="birthplace" formControlName="birthplace">
            </div>
            <div class="mb-3">
                <label for="birthdate" class="form-label">Születési Dátum</label>
                <input type="date" class="form-select" placeholder="YYYY-MM-DD"
                       required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" id="birthdate" formControlName="birthdate">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Telefonszám</label>
                <input type="text" class="form-control" id="phone" formControlName="phone">
            </div>
            <div class="mb-3">
                <label for="idCard" class="form-label">TAJ szám</label>
                <input type="text" pattern="\d*" maxlength="9" class="form-control" id="idCard" formControlName="idCard">
            </div>
          <div class="mb-3">
            <label for="email" class="form-label">E-mail cím</label>
            <input type="text" class="form-control" id="email" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Jelszó</label>
            <input type="password" class="form-control" id="password" formControlName="password">
          </div>

        </form>
        <div class="text-end">
            <button class="btn btn-outline-primary" (click)="registerUser()">Mentés</button>
        </div>
    </div>
</div>
