<div class="row">
    <div class="col-md-6">
        <form [formGroup]="donationForm">
            <div class="mb-3">
                <label for="location" class="form-label">Helyszín</label>
                <select id="location" class="form-select" formControlName="location">
                    @for(location of locations; track $index) {
                        <option *ngIf="location.active"
                                [ngValue]="{ _id: location._id }">{{ location.name }}
                        </option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="donor" class="form-label">Donor</label>
                <select id="donor" class="form-select" formControlName="donor">
                    @for(donor of donors; track $index) {
                        <option [ngValue]="{ _id: donor._id }">{{ donor.name }}</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="donationDate" class="form-label">Véradás Dátuma</label>
                <input type="date" class="form-select" placeholder="YYYY-MM-DD"
                       required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" id="donationDate"
                       min="1" formControlName="donationDate">
            </div>
            <div class="mb-3">
                <label for="can_donate" class="form-label">Véradásra alkalmas</label>
                <input type="checkbox" id="can_donate" formControlName="can_donate">
            </div>
            <div class="mb-3" *ngIf="!donationForm.get('can_donate')?.value">
                <label for="reason" class="form-label">Ha nem, indok</label>
                <input type="text" class="form-control" id="reason" formControlName="reason">
            </div>
            <div class="mb-3">
                <label for="doctor" class="form-label">Doktor Neve</label>
                <input type="text" class="form-control" id="doctor" formControlName="doctor">
            </div>
            <div class="mb-3">
                <label for="directed" class="form-label">Irányított Véradás</label>
                <input type="checkbox" id="directed" formControlName="directed">
            </div>
            <div class="mb-3" *ngIf="donationForm.get('directed')?.value&&donationForm.get('can_donate')?.value">
                <label for="recipient_name" class="form-label">Fogadó Beteg Neve</label>
                <input type="text" class="form-control" id="recipient_name" formControlName="recipient_name">
            </div>
            <div class="mb-3" *ngIf="donationForm.get('directed')?.value&&donationForm.get('can_donate')?.value">
                <label for="recipient_idCard" class="form-label">Fogadó Beteg TAJ száma</label>
                <input type="text" class="form-control" pattern="\d*" maxlength="9" id="recipient_idCard" formControlName="recipient_idCard">
            </div>
        </form>
        <div class="text-end">
            <button class="btn btn-outline-primary" (click)="saveDonation()">Küldés</button>
        </div>
    </div>
</div>
