<h2>Véradók</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Név</th>
            <th>Nem</th>
            <th>Állampolgárság</th>
            <th>Születési Hely</th>
            <th>Születési Dátum</th>
            <th>Lakcím</th>
            <th>Telefonszám</th>
            <th>TAJ szám</th>
            @if(authService.isLoggedIn()) {
              <th>Műveletek</th>
            }
        </tr>
    </thead>

    <tbody>
        @for (donor of donors; track $index) {
        <tr>
            <td>{{ donor.name }}</td>
            <td>{{ donor.gender }}</td>
            <td>{{ donor.nationality }}</td>
            <td>{{ donor.birthplace }}</td>
            <td>{{ donor.birthdate }}</td>
            <td>{{ donor.address }}</td>
            <td>{{ donor.phone }}</td>
            <td>{{ donor.idCard }}</td>
            @if(authService.isLoggedIn()) {
              <td>
                  <button class="btn btn-outline-primary me-2" (click)="listDonationsForDonor(donor._id)">Foglalások</button>
                  <button class="btn btn-outline-primary me-2" (click)="editDonor(donor._id)">Módosítás</button>
                  <button class="btn btn-outline-danger" (click)="deleteDonor(donor._id)">Törlés</button>
              </td>
            }
        </tr>
        }
    </tbody>
</table>
<div class="chart-container">
  <canvas id="genderChart"></canvas>
</div>
